

.movieCardLink {
  text-decoration: none;
}

.movieCard {
  background-color: var(--primary-color);
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  color: var(--text-color);
  cursor: pointer;
}

.movieCard:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 16px rgba(0,0,0,0.15);
}

.movieCard h3 {
  margin: 0;
  font-size: 1.3rem;
}
