.navbar {
  background-color: var(--secondary-color);
  padding: var(--spacing);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: var(--font-size-lg);
  margin: 0;
  color: var(--primary-color);
}

.links a {
  color: var(--primary-color);
  text-decoration: none;
  margin-left: var(--spacing);
  transition: color 0.3s ease;
}

.links a:hover {
  color: var(--button);
}
